iso8601>=0.1.11 # MIT
six>=1.9.0 # MIT
kazoo>=2.0>=2.2 # Apache-2.0
kafka-python>=0.9.5,<1.0 # Apache-2.0
PyMySQL>=0.6.7 # MIT License
oslo.config>=3.10.0 # Apache-2.0
pbr>=1.6 # Apache-2.0
ujson>=1.34 # BSD
